@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.background {
  background: #929292;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: start;
  gap: 16px;
  justify-content: center;
  margin: 30px;
  flex-grow: 1;
}

.about {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.about h1 {
  text-align: center;
}

.about p {
  text-align: justify;
  text-justify: newspaper;
}
