@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.background {
  background: #929292;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.about {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.about h1 {
  text-align: center;
}

.about p {
  text-align: justify;
  text-justify: newspaper;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #b4b4b4;
}
